## [1] Write a Python program to add an item to a tuple

In [11]:
original_tuple = (1, 2, 3)

item_to_add = int(input("Enter the number you want to add:"))
temp_list = list(original_tuple)
temp_list.append(item_to_add)

new_tuple = tuple(temp_list)

print("New tuple:", new_tuple)

Enter the number you want to add: 6

New tuple: (1, 2, 3, 6)

_____________________________________

## [2] Write a Python program to sum all the items in a list

In [19]:
sum([int(i) for i in input("Enter a list of numbers separated by commas: ").split(",")])

Enter a list of numbers separated by commas:  1,2,3,4,5,6

21

___________________

## [3] Write a Python program to multiply all the items in a list

In [25]:
numbers = [int(i) for i in input("Enter a list of numbers separated by commas: ").split(",")]

product = 1
for number in numbers:
    product *= number

print("multiply all the items", product)

Enter a list of numbers separated by commas:  1,2,3,4,5

multiply all the items 120

_________________

## [4] Write a Python program to get the smallest number from a list

In [47]:
numbers_list = [int(i) for i in input("Enter a list of numbers separated by commas: ").split(",")]
smallest_number = min(numbers_list)
print("smallest number is : ",smallest_number)

Enter a list of numbers separated by commas:  21,5,8,2,7

smallest number is :  2

________________________________

## [5] Write a Python program to get the largest number from a list

In [50]:
numbers_list = [int(i) for i in input("Enter a list of numbers separated by commas: ").split(",")]
largest_number = max(numbers_list)
print("largest number is : ",largest_number)

Enter a list of numbers separated by commas:  1,5,3,7,12,4

largest number is :  12

____________________

## [6] Write a Python program to count the number of strings from a given list of strings

In [62]:
first = input("Enter the list :")
string_list = first.split(",")
print(string_list)
count = len(string_list)
print("Number of strings in the list:", count)

Enter the list : amit,machine learning,ai,pyhton

['amit', 'machine learning', 'ai', 'pyhton']
Number of strings in the list: 4

___________________________________

## [7] Write a Python program to clone or copy a list

In [68]:
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()

print("Copied list:", copied_list)

Copied list: [1, 2, 3, 4, 5]

_________________

## [8] Write a Python program to remove item(s) from a given set

In [7]:
original_set = {1, 2, 3, 4, 5}
items_to_remove = {2}
for item in items_to_remove:
    original_set.remove(item)
print("Original Set after removal:", original_set)

Original Set after removal: {1, 3, 4, 5}

_____________________

## [9] Write a Python program to check if a set is a subset of another set

In [14]:

set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
is_subset = set_a.issubset(set_b)
print("Is Set A a subset of Set B?", is_subset)

Is Set A a subset of Set B? True

______________________________

## [10] Write a Python program to remove all elements from a given set

In [23]:
set3 = {1, 2, 3, 4, 5}
set3.clear()
print("After clearing:", set3)

After clearing: set()

_______________________________

## [11] Write a Python program to find the maximum and minimum values in a set

In [33]:

numbers = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5}
max_value = None
min_value = None

for number in numbers:
    if max_value is None or number > max_value:
        max_value = number
    if min_value is None or number < min_value:
        min_value = number

print("Set:", numbers)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Set: {1, 2, 3, 4, 5, 6, 9}
Maximum value: 9
Minimum value: 1

_____________________

## [12] Write a Python program to find the index of an item in a tuple

In [43]:
my_tuple = (10, 20, 30, 40, 50)
item_to_find = 10
for i in range(len(my_tuple)):
    if my_tuple[i] == item_to_find:
        print("Tuple:", my_tuple)
        print("Item to find:", item_to_find)
        print("Index of the item:", i)

Tuple: (10, 20, 30, 40, 50)
Item to find: 10
Index of the item: 0

____________________________

## [13] Write a Python program to convert a tuple to a dictionary

In [51]:

# Define the tuple of pairs
my_tuple = (('a', 1), ('b', 2), ('c', 3))

# Convert the tuple to a dictionary
my_dict = {}
for key, value in my_tuple:
    my_dict[key] = value

# Print the result
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

Tuple: (('a', 1), ('b', 2), ('c', 3))
Dictionary: {'a': 1, 'b': 2, 'c': 3}

_____________________

## [14] Write a Python program to unzip a list of tuples into individual lists

In [3]:
list_tup = [('Amit', 1), ('AL', 2), ('Machine Learning', 3)]

res = []
first = []
second = []

for i in list_tup:
    first.append(i[0])
    second.append(i[1])
 
res.append(tuple(first))
res.append(tuple(second))

print("Modified list is : " + str(res))

Modified list is : [('Amit', 'AL', 'Machine Learning'), (1, 2, 3)]

_____________

## [15] Write a Python program to reverse a tuple

In [58]:
my_tuple = (10, 20, 30, 40, 50)

reversed_tuple = my_tuple[::-1]
print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: (50, 40, 30, 20, 10)

_____________

## [16] Write a Python program to convert a list of tuples into a dictionary

In [62]:

list_of_tuples = [('a', 1), ('b', 2), ('c', 3)]

my_dict = dict(list_of_tuples)
print("Dictionary:", my_dict)

Dictionary: {'a': 1, 'b': 2, 'c': 3}

______________________

## [17] Write a Python program to replace the last value of tuples in a list

In [3]:
Sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100


Output = []
for item in Sample_list:
    new_tuple = item[:-1] + (new_value,)
    Output.append(new_tuple)
print("Sample list:", Sample_list)
print("Output:", Output)

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

_________________

## [18] Write a Python program to sort a tuple by its float element

In [11]:
x = [('a', 3.2),('b', 2.1),('c', 1.5),('d', 4.0),('e',7.5)]
sorted_list = sorted(x, key=lambda x: float(x[1]))
print("Sorted list:", sorted_list)

reversed_listed = sorted(x, key=lambda x: float(x[1]),reverse=True)
print("Reverse sorted list:",reversed_listed)

Sorted list: [('c', 1.5), ('b', 2.1), ('a', 3.2), ('d', 4.0), ('e', 7.5)]
Reverse sorted list: [('e', 7.5), ('d', 4.0), ('a', 3.2), ('b', 2.1), ('c', 1.5)]