# Load the Tips dataset

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("tips.csv")
df = train.copy()
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# Group by day and calculate the average tip amount

In [4]:
average_tip = df.groupby('day')['tip'].mean()
average_tip

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

# Calculate the total bill amount for each size of the group (number of people).

In [5]:
total_bill_by_size = df.groupby('size')['total_bill'].sum()
total_bill_by_size

size
1      28.97
2    2565.89
3     884.55
4    1058.70
5     150.34
6     139.32
Name: total_bill, dtype: float64

# Calculate the average tip percentage (tip / total_bill * 100) for each day and time (lunch or dinner).

In [9]:
df['tip_percentage'] = (df['tip'] / df['total_bill']) * 100

average_tip_percentage = df.groupby(['day', 'time'])['tip_percentage'].mean()
average_tip_percentage

day   time
Fri   Dinner    15.891611
      Lunch     18.876489
Sat   Dinner    15.315172
Sun   Dinner    16.689729
Thur  Dinner    15.974441
      Lunch     16.130074
Name: tip_percentage, dtype: float64

In [10]:
df

     total_bill   tip     sex smoker   day    time  size  tip_percentage
0         16.99  1.01  Female     No   Sun  Dinner     2        5.944673
1         10.34  1.66    Male     No   Sun  Dinner     3       16.054159
2         21.01  3.50    Male     No   Sun  Dinner     3       16.658734
3         23.68  3.31    Male     No   Sun  Dinner     2       13.978041
4         24.59  3.61  Female     No   Sun  Dinner     4       14.680765
..          ...   ...     ...    ...   ...     ...   ...             ...
239       29.03  5.92    Male     No   Sat  Dinner     3       20.392697
240       27.18  2.00  Female    Yes   Sat  Dinner     2        7.358352
241       22.67  2.00    Male    Yes   Sat  Dinner     2        8.822232
242       17.82  1.75    Male     No   Sat  Dinner     2        9.820426
243       18.78  3.00  Female     No  Thur  Dinner     2       15.974441

[244 rows x 8 columns]

# Find the maximum tip amount given by each gender.

In [11]:
max_tip_by_gender = df.groupby('sex')['tip'].max()
max_tip_by_gender

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

# Calculate the total bill amount and tip amount for each day and size of the group.

In [12]:
calc = df.groupby(['day', 'size'])[['total_bill', 'tip']].sum()
calc

           total_bill     tip
day  size
Fri  1           8.58    1.92
     2         261.15   42.31
     3          15.98    3.00
     4          40.17    4.73
Sat  1          10.32    2.00
     2         892.37  133.43
     3         459.17   68.36
     4         388.39   53.61
     5          28.15    3.00
Sun  2         684.84  109.86
     3         332.76   46.81
     4         480.39   73.58
     5          81.00   12.14
     6          48.17    5.00
Thur 1          10.07    1.83
     2         727.53  117.24
     3          76.64   10.77
     4         149.75   21.09
     5          41.19    5.00
     6          91.15   15.90

# Calculate the average tip amount for each day, but only include data for groups of size 2 or more.

In [13]:
average_tip_by_day = df[df['size'] >= 2].groupby('day').agg(average_tip=('tip', 'mean'))
average_tip_by_day

      average_tip
day
Fri      2.780000
Sat      3.040000
Sun      3.255132
Thur     2.786885

# Find the day with the highest total bill amount, and calculate the average tip amount for that day.

# Calculate the total bill amount for each day, but only include data for groups of size 3 or 4.

In [15]:
filtered_df = df[df['size'].isin([3, 4])]
total_bill_by_day = filtered_df.groupby('day')['total_bill'].sum()
total_bill_by_day

day
Fri      56.15
Sat     847.56
Sun     813.15
Thur    226.39
Name: total_bill, dtype: float64